{% extends "master.jinja" %}

{% block content %}
  <h1>Welcome to tvmaf</h1>
  <form method="get" action="/search">
      <label for="q">Search</label>
      <input type="text" name="q" />
      <input type="submit" />
  </form>

  <h2>Movies</h2>
  <ul>
    {% for title in titles %}
      <li><a href="/movie/{{title.tconst}}">{{title.originalTitle}}</a></li>
    {% endfor %}
  </ul>

  <div id="react_widget_container"></div>
{% endblock %}