{% extends "master.jinja" %}

{% block content %}
    <h1>Search</h1>
    <p>Your query was: {{query}}</p>

    {% for result in results.hits %}
      <li><a href="/movie/{{result.tconst}}">{{result.originalTitle}}</a></li>
    {% endfor %}
{% endblock %}